$main-color: #3B4B59;
$secondary-color: #8EA8BF;
$tertiary-color: #B0C1D9;
$juxtaposition-color: #D9BFA9;
$writing-color: #0D0D0D;

nav {
        display: flex;

        ul {
                li {
                        display: inline; 
                        text-decoration: none;
                        color: $tertiary-color;
                }
        }
}


nav img {
        display: none;
}



