<style>
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
</style> 

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #FFF1E3;
  /* background-color: #ffe5d4; */
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  background-color: #8EA8BF;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 15vw;
  max-height: 50px;
  background-color: #3B4B59;
  border-radius: 50%;
  margin: 1rem;
}

/* Change logo to orange when hovering over */
header img:hover {
  animation: changecolor 5s infinite; 
}

@keyframes changecolor {
  0% {
    background-color: #3B4B59;
  }
  50% {
    background-color: #FD7702;
  }
  100% {
    background-color: #3B4B59;
  }
}

.topnav a {
  font-family: 'Nunito', sans-serif;
  /* color: #3B4B59; */
  color: #B0C1D9;
  /* color: #fafafa; */
  text-decoration: none;
  margin: 0 0.5rem;
  font-size: 2rem;
}

/* Change color when hovering */
.topnav a:hover {
  color: #3B4B59;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center; 
  font-family: 'Nunito', sans-serif;
  margin: 0 2rem;
}

main div {
    margin: 1rem;
}

.main-text {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}

main div h1 {
  font-size: 3rem;
  /* color: #3B4B59; */
}

main div h3 {
  color: #3B4B59;
}
    
main div p a {
    text-decoration: none;
    color: #8EA8BF;
}

.portrait {
  height: 60vw;
  width: 60vw;
  border-radius: 50%;
  border: 4px solid #8EA8BF;
  margin: 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  font-family: 'Nunito', sans-serif;
  font-size: 0.8rem;
  background-color: #8EA8BF;
  width: 100%;
}

footer section img {
  margin: 0 0.5rem;
}

#github-pic {
  height: 2.9rem;
}

/* For bigger screens, formatting to make main side by side */
@media screen and (min-width: 800px) {
  header img {
    height: 3.5rem;
    margin: 0.75rem;
  }

  nav a {
    margin: 0 1.25rem;
  }
  
  main {
    flex-direction: row;
    justify-content: center;
  }

  #main-text h1 {
    font-size: 3rem;
  }

  #hobbies-pic {
    border-left: 2px dashed #3B4B59;
}

  .portrait {
    height: 30vw;
    width: 30vw;
    max-height: 400px;
    max-width: 400px;
  }
}

/* For smaller screens, to make nav bar two lines */
@media screen and (max-width: 420px) {
  header {
    flex-direction: column;
    padding-bottom: 0.25rem;
  }
}

/* Cap size of photo on smaller screens */
@media screen and (max-width: 800px) {
    .portrait {
        max-height: 300px;
        max-width: 300px;
}