<style>
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
</style> 

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #FFF1E3;
  margin: 0px;
  padding: 0px;
}

/* Styling of navbar including logo */
header {
  display: flex;
  background-color: #8EA8BF;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 15vw;
  max-height: 50px;
  background-color: #3B4B59;
  border-radius: 50%;
  margin: 1rem;
}

/* Change logo to orange when hovering over */
header img:hover {
  animation: changecolor 5s infinite; 
}

@keyframes changecolor {
  0% {
    background-color: #3B4B59;
  }
  50% {
    background-color: #FD7702;
  }
  100% {
    background-color: #3B4B59;
  }
}

.topnav a {
  font-family: 'Nunito', sans-serif;
  color: #B0C1D9;
  text-decoration: none;
  margin: 0 0.5rem;
  font-size: 2rem;
}

/* Change color of navbar text when hovering */
.topnav a:hover {
  color: #3B4B59;
}

/* Styling of main content */
main {
  display: flex;
  flex-direction: column;
  align-items: center; 
  font-family: 'Nunito', sans-serif;
  margin: 2rem;
}

main h1 {
  font-size: 3rem;
  text-align: center;
}

main h4 {
  color: #092c4b;
}

/* Styling of list of blogs */
#blog-list {
    list-style: none;
    background: rgb(176, 193, 217, 0.2);
    border-radius: 10%;
    padding: 1rem;
    line-height: 1.5em;
}

#blog-list a {
    text-decoration: none;
}

/* Enlarge text and make black on hover */
#blog-list a:hover {
    color: black;
    font-size: 1.2em;
}

/* Make blog pictures look nice, including a reactive overlay */
.bgimage {
  position: relative; 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5%;
  height: 60vw;
  width: 60vw;
  margin: 2rem 0;
  box-shadow: 5px 5px 10px rgb(253, 119, 2, 0.5);
}

.blog-pics {
  height: 100%; 
  width: 100%; 
  position: absolute;
  z-index: -1;
}

.overlay {
  position: relative;
  top: 3em;
  background: rgb(176, 193, 217, 0.4);
  padding: 0 0 0 0.5em;
  transition: 1s;
}

.bgimage:hover .overlay {
  transform: translateY(-3em);
  background: rgb(176, 193, 217, 0.6);
}

/* Remove underline in links */
#articles a {
  text-decoration: none;
}

/* Remove default blue and purple link colour */
.overlay p {
  color: black;
}

/* Styling for anchor */
#anchornav {
  font-family: 'Nunito', sans-serif;
  color: #3B4B59;
  text-decoration: none;
  text-align: center;
  margin: 1rem;
}

/* Styling for footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  font-family: 'Nunito', sans-serif;
  font-size: 0.8rem;
  background-color: #8EA8BF;
  width: 100%;
}

footer section img {
  margin: 0 0.5rem;
}

#github-pic {
  height: 2.9rem;
}

/* For bigger screens, formatting  */
@media screen and (min-width: 620px) {
  header img {
    height: 3.5rem;
    margin: 0.75rem;
  }

  .topnav a {
    margin: 0 0.75rem;
  }

  #articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .bgimage {
    max-height: 400px;
    max-width: 400px;
    margin: 2rem;
    box-shadow: 10px 10px 20px rgb(253, 119, 2, 0.5);
  }

  .blog-pics {
    max-height: 400px;
    max-width: 400px;
  }
}


/* For smaller screens, to make nav bar two lines */
@media screen and (max-width: 420px) {
  header {
    flex-direction: column;
    padding-bottom: 0.25rem;
  }
}
